{% extends 'base.html' %}
{% block content %}

<div class="content-wrapper" style="min-height: 1299.69px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1>Controle de Seguros</h1>
        </div>
        <div class="col-sm-12">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Simple Tables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Seguros Próximos do Vencimento</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Nome Cliente</th>
                    <th>Tempo de Seguro</th>
                    <th style="width: 100px">Tempo %</th>
                    <th style="width: 200px">Data Seguro</th>
                  </tr>
                </thead>
                <tbody>
                  {% for cli in Clientes %}
                  <tr>
                    <td>{{cli.id}}.</td>
                    <td>{{cli.name}}</td>
                    <td>
                      <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                      </div>
                    </td>
                    <td><span class="badge bg-danger">55%</span></td>
                    <td><span>{{cli.date_contract}}</span></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>


{% endblock %}